.errorBoundary-flex {
	display: flex;
}

.errorBoundary-flex button {
	margin: 5px;
}

.recoverText {
	color: #ddd;
	justify-content: center;
	margin: 5px 0;
	display: flex;
}

.recoverText::after {
	content: "Recovering...";
	animation: 1s waitingText;
	font-weight: bold;
	color: #7289da;
	display: block;
	margin-left: 3px;
}

@keyframes waitingText {
	0% {
		content: " in 3";
	}
	50% {
		content: " in 2";
	}
	100% {
		content: " in 1";
	}
}